{% extends 'base.html.twig' %}

{% block title %}{{'Answer index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Answer index'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Text'|trans}}</th>
                <th>{{'Correct'|trans}}</th>
                <th>{{'actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.text }}</td>
                <td>{{ answer.correct }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-primary" href="{{ path('answer_show', {'id': answer.id}) }}">{{'show'|trans}}</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-warning" href="{{ path('answer_edit', {'id': answer.id}) }}">{{'edit'|trans}}</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-success" href="{{ path('answer_new') }}">{{'New'|trans}}</a>{% endif %}
{% endblock %}
