{% extends 'base.html.twig' %}

{% block title %}{{'Answer'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Answer'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>{{'Text'|trans}}</th>
                <td>{{ answer.text }}</td>
            </tr>
            <tr>
                <th>{{'Correct'|trans}}</th>
                <td>{{ answer.correction }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('answer_index') }}">{{'back to list'|trans}}</a>

    <a class="btn btn-warning" href="{{ path('answer_edit', {'id': answer.id}) }}">{{'edit'|trans}}</a>

    {{ include('answer/_delete_form.html.twig') }}
{% endblock %}
