{% extends 'base.html.twig' %}

{% block title %}{{'Edit Category'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Category'|trans}}</h1>
    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-primary" href="{{ path('category_index') }}"><i class="fas fa-reply"></i></a>
        {% if is_granted('ROLE_SUPER_ADMIN') %}{{ include('category/_delete_form.html.twig') }}{% endif %}
    </div>
{% endblock %}
