{% extends 'base.html.twig' %}

{% block title %}{{'Category index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Category index'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Id'|trans}}</th>
                <th>{{'Shortname'|trans}}</th>
                <th>{{'Longname'|trans}}</th>
                <th>{{'actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.shortname }}</td>
                <td>{{ category.longname }}</td>
                <td>
                    <div class="btn-group" role="group">
                        {% if is_granted('ROLE_USER') %}<a class="btn btn-primary" href="{{ path('category_show', {'id': category.id}) }}"><i class="fas fa-eye"></i></a>{% endif %}
                        {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-warning" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-pen"></i></a>{% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-success" href="{{ path('category_new') }}"><i class="fas fa-plus-square"></i></a>{% endif %}
{% endblock %}
