{% extends 'base.html.twig' %}

{% block title %}SlamQuiz - {% trans %}Welcome!{% endtrans %}{% endblock %}

{% block body %}
<style>
    .jumbotron{margin-top:100px;}
</style>

<div class="jumbotron">
  <h1 class="display-5">{{'Need to evaluate you students?'|trans}}</h1>
  <p class="lead">{{'Here is the tool you need'|trans}}</p>
  <hr class="my-4">
  <h1 class="display-5">{{'Fonctionality'|trans}}</h1>
  <ul>
    <li>{{'Motivating interactive content'|trans}}</li>
    <li>{{'Image support, automatic integration of social media'|trans}} <i class="fas fa-clock"></i></li>
    <li>{{'Automatic notation'|trans}} </li>
    <li>{{'Real-time activity tracking (receive student results by email)'|trans}} <i class="fas fa-clock"></i></li>
    <li>{{'Test your students via a smartphone and deliver live results at a presentation'|trans}} <i class="fas fa-clock"></i></li>
  </ul>
  <a class="btn btn-primary float-right" href="{{ path('app_register') }}">{{'Begin now'|trans}} <i class="fas fa-play-circle"></i></a>
</div>

{% endblock %}
